/*
@font-face {font-family:'Nanum Gothic';font-style:normal;font-weight:400;src:url(../fonts/nanumgothic/NanumGothic.eot);src:url(../fonts/nanumgothic/NanumGothic.eot?#iefix) format('embedded-opentype'),url(../fonts/nanumgothic/NanumGothic.woff) format('woff'),url(../fonts/nanumgothic/NanumGothic.ttf) format('truetype');}
@font-face {font-family:'Nanum Gothic';font-style:normal;font-weight:700;src:url(../fonts/nanumgothic/NanumGothicBold.eot);src:url(../fonts/nanumgothic/NanumGothicBold.eot?#iefix) format('embedded-opentype'),url(../fonts/nanumgothic/NanumGothicBold.woff) format('woff'),url(../fonts/nanumgothic/NanumGothicBold.ttf) format('truetype');}
@font-face {font-family:'Nanum Gothic';font-style:normal;font-weight:800;src:url(../fonts/nanumgothic/NanumGothicExtraBold.eot);src:url(../fonts/nanumgothic/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),url(../fonts/nanumgothic/NanumGothicExtraBold.woff) format('woff'),url(../fonts/nanumgothic/NanumGothicExtraBold.ttf) format('truetype');}
*/
body,h1,h2,h3,h4,h5,h6,ul,li,p,input,button,select,textarea,a,label,table,form,tr,th,td,fieldset,b,u,dl,dt,dd,caption,header,hgroup,nav,section,article,aside,footer,small,strike,strong,sub,sup{
  font-family: '나눔고딕','Nanum Gothic','Dotum','돋움',sans-serif;
  font-style: normal;
}
body,a{color: #5a5a5a;}
.mb-board div{
  font-family: '나눔고딕','Nanum Gothic','Dotum','돋움',sans-serif;
  font-style: normal;
}
body{
  font-size:13px;
  line-height:1.6;
}
a:link, a:visited {text-decoration:none;background:none;}
a:hover,button:hover{text-decoration:none; cursor:pointer !important;background:none;color:#333;}